@import "../../Styling/Mixins.scss";

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%; //80% of the width of the parent element 1152px of 1440px

  &__btn {
    border-radius: var(--border-radius-btn);
    border: 1px solid var(--btn-color);
    background-color: var(--btn-color);
    font-size: 1.125rem; //18px
    width: 100%;
    padding: 0.5rem;
    margin: 8px 0;
    //font-weight: 700;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease-in-out;
    color: var(--text-color);
    filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));

    &:hover {
      background-color: var(--btn-color-hover);
    }

    @include respond(phone) {
      font-size: 0.875rem; //14px
    }
  }

  @include respond(phone) {
    width: 91.5%; //91.5% of the width of the parent element 343px of 375px
  }
  &__subtext {
    opacity: 0.6;
    font-size: 0.7rem; //11px
    display: block;
    margin-top: 0.3rem;
  }
}
