* {
  box-sizing: border-box;
  margin: 0;
  border: none;
}

:root {
  --text-color: #101828;
  --bg-color: #ffffff;
  --color-gray: #eaecf0;
  --border-radius-btn: 8px;
}

body {
  width: 100%;
  font-size: 16px;
  background-color: var(--bg-color);
}

@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
}
