* {
  box-sizing: border-box;
  margin: 0;
  border: none;
}

:root {
  --text-color: #101828;
  --bg-color: #ffffff;
  --btn-color: #eaecf0;
  --btn-color-hover: #d0d5dd;
  --border-radius-btn: 8px;
  --font-16: 1rem;
}

body {
  width: 100%;
  font-size: 16px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 1440px;
}
